# App
NODE_ENV=development
PORT=5000
CORS_ORIGIN=http://web-client:3000

# PostgreSQL
DB_HOST=postgresql
DB_PORT=5432
DB_NAME=qcena_db
DB_USER=qcena_user
DB_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# ── SEED ───────────────────────────────────────────────────────────────────────
ADMIN_NAME=Max
ADMIN_EMAIL=max@qcena.com
ADMIN_PASSWORD=Pass@1234

# ── JWT ───────────────────────────────────────────────────────────────────────
JWT_ACCESS_SECRET=access-secret-min-256bits
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh-secret-min-256bits
JWT_REFRESH_EXPIRES_IN=7d

# ── Email ─────────────────────────────────────────────────────────────────────
EMAIL_PROVIDER=smtp
EMAIL_FROM="X-MAJ <dx@dx.com>"

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=x@x.com
SMTP_PASS=nd

# ── OTP ───────────────────────────────────────────────────────────────────────
OTP_EXPIRES_SECONDS=300

# ── Logging ───────────────────────────────────────────────────────────────────
LOG_LEVEL=debug
LOG_PRETTY=true
