@import "tailwindcss";
@import "@heroui/styles"; 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(62.04% 0.1950 54.55);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0015 54.55);
  --border: oklch(90.00% 0.0015 54.55);
  --danger: oklch(65.32% 0.2335 1.83);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0015 54.55);
  --default-foreground: oklch(21.03% 0.0059 54.55);
  --field-background: oklch(100.00% 0.0008 54.55);
  --field-foreground: oklch(21.03% 0.0015 54.55);
  --field-placeholder: oklch(55.17% 0.0030 54.55);
  --focus: oklch(62.04% 0.1950 54.55);
  --foreground: oklch(21.03% 0.0015 54.55);
  --muted: oklch(55.17% 0.0030 54.55);
  --overlay: oklch(100.00% 0.0004 54.55);
  --overlay-foreground: oklch(21.03% 0.0015 54.55);
  --scrollbar: oklch(87.10% 0.0015 54.55);
  --segment: oklch(100.00% 0.0015 54.55);
  --segment-foreground: oklch(21.03% 0.0015 54.55);
  --separator: oklch(92.00% 0.0015 54.55);
  --success: oklch(73.29% 0.1941 126.90);
  --success-foreground: oklch(21.03% 0.0059 126.90);
  --surface: oklch(100.00% 0.0008 54.55);
  --surface-foreground: oklch(21.03% 0.0015 54.55);
  --surface-secondary: oklch(95.24% 0.0012 54.55);
  --surface-secondary-foreground: oklch(21.03% 0.0015 54.55);
  --surface-tertiary: oklch(93.73% 0.0012 54.55);
  --surface-tertiary-foreground: oklch(21.03% 0.0015 54.55);
  --warning: oklch(78.19% 0.1590 48.42);
  --warning-foreground: oklch(21.03% 0.0059 48.42);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(62.04% 0.1950 54.55);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0015 54.55);
  --border: oklch(28.00% 0.0015 54.55);
  --danger: oklch(59.40% 0.1973 0.72);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0015 54.55);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0030 54.55);
  --field-foreground: oklch(99.11% 0.0015 54.55);
  --field-placeholder: oklch(70.50% 0.0030 54.55);
  --focus: oklch(62.04% 0.1950 54.55);
  --foreground: oklch(99.11% 0.0015 54.55);
  --muted: oklch(70.50% 0.0030 54.55);
  --overlay: oklch(21.03% 0.0030 54.55);
  --overlay-foreground: oklch(99.11% 0.0015 54.55);
  --scrollbar: oklch(70.50% 0.0015 54.55);
  --segment: oklch(39.64% 0.0015 54.55);
  --segment-foreground: oklch(99.11% 0.0015 54.55);
  --separator: oklch(25.00% 0.0015 54.55);
  --success: oklch(73.29% 0.1941 126.90);
  --success-foreground: oklch(21.03% 0.0059 126.90);
  --surface: oklch(21.03% 0.0030 54.55);
  --surface-foreground: oklch(99.11% 0.0015 54.55);
  --surface-secondary: oklch(25.70% 0.0023 54.55);
  --surface-secondary-foreground: oklch(99.11% 0.0015 54.55);
  --surface-tertiary: oklch(27.21% 0.0023 54.55);
  --surface-tertiary-foreground: oklch(99.11% 0.0015 54.55);
  --warning: oklch(82.03% 0.1392 52.43);
  --warning-foreground: oklch(21.03% 0.0059 52.43);
}